[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic
[submodule "themes/vncnt-hugo"]
	path = themes/vncnt-hugo
	url = https://github.com/fncnt/vncnt-hugo
